<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile Page</title>
</head>
<body>
    <%- include('partial/_navbar') %> 

    <h1>Profile</h1>
    <form action="/edit/profile" method="post">
        <br><br>
        <label for="email">Email</label>
        <input type="text" name="email" id="email" value="<%= data.email %>" >
        <br><br>
        <label for="fullname">Full Name</label>
        <input type="text" name="fullname" id="fullname"  value="<%= data.fullname %>">
        <br><br>
        <label for="phone">Phone</label>
        <input type="text" name="phone" id="phone"  value="<%= data.phone %>">
        <br><br>
        <label for="password">Password</label>
        <input type="password" name="password" id="password"   value="<%= data.password %>" required>
        <br>
        <br>
        <input type="submit" value="SUBMIT">
    </form>
    
</body>
</html>